# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

# VS intermediate files
*.tlog
*.ilk
*.pdb
*.aps
*.sdf
*.suo
*.manifest
*.res
*.lastbuildstate
*.log
*.cache
*.bsc
*.map
*.zip
*.ipch
*.idb
*.sbr

